.star{
  position: relative;
  width: 0px;
  border-bottom:100px solid yellow;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  
}


.down{
bottom: 65px;
transform: rotate(180deg);
}