.star{
  position: relative;
  width: 0px;
  border-bottom:60px solid yellow;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  
}


.down{
bottom: 40px;
transform: rotate(180deg);
}